@font-face {
    font-family: "Regular";
    src: url("fonts/fonnts.com-Larken_Regular.otf");
}

@font-face {
    font-family: "Medium";
    src: url("fonts/fonnts.com-Larken_Medium.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/fon.png");
    background-color: #0B0E17;
    background-blend-mode: unset;

}

/* <!-- --------------------HEADER-------------------- --> */
header {
    display: flex;
    height: 1007px;
}

.left {
    width: 849px;
    height: 100%;
    padding-top: 25px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 182.5px;
    align-items: center;
}



.right {
    display: flex;
    justify-content: end;
    align-items: start;
    background-image: url("./img/pat1pg.png");
    width: 1071px;
    height: 100%;
    left: 849px;
    gap: 0px;
    opacity: 0px;
    padding-right: 100px;
    padding-top: 25px;
}

#log {
    width: 100px;
    height: 47px;
}

ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: right;
    text-decoration: none;
    color: #ABAEB7;

}

.contact {
    padding: 15px 30px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.title {
    width: 680px;
    height: 457px;

}

h3 {
    color: #FFC978;
    font-family: Medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.96px;
    letter-spacing: 0.3em;
    text-align: left;
    margin-bottom: 30px;
}

h1 {
    color: white;
    font-family: Regular;
    font-size: 84px;
    font-weight: 400;
    line-height: 94px;
    text-align: left;
    margin-bottom: 10px;
}

p {
    width: 534px;
    color: #ABAEB7;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    margin-bottom: 50px;

}

.title-b {
    padding: 20px 35px;
    border: 1px solid white;
    opacity: 0px;
    color: white;
    background-color: transparent;
    font-family: Roboto;
}

/* <!-- --------------------MAIN-------------------- --> */
main {
    display: flex;
    height: 1007px;
}

#block2 {
    color: #FFC978;
    font-family: Medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.96px;
    letter-spacing: 0.3em;
}

#block-2 {
    font-family: Regular;
    width: 500px;
    color: white;
    font-size: 60px;
    font-weight: 400;
    line-height: 77.1px;
}



.inter {
    margin-left: -100px;
    display: flex;
}

#one,
#four {
    width: 300px;
    height: 500px;
    margin-top: -150px;
    gap: 0px;
    opacity: 0px;
}

.kart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.topser {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    background-image: url(img/design.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: fit-content;
    padding-bottom: 50px;
}

#two,
#three {
    margin-top: 52px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    width: 100%;
    height: 600px;
}

.about-text {
    width: 600px;
}

.about-images {
    height: 100%;
    display: flex;
    gap: 30px;
}

.about-image {
    max-height: 90%;
}

.about-image:first-child {
    align-self: flex-end;
    margin-top: auto;
}

.about-image:last-child {
    align-self: flex-start;
    margin-bottom: auto;
}

#block3 {
    width: 100%;
    height: 77px;
    font-family: Regular;
    font-size: 60px;
    font-weight: 400;
    line-height: 77.1px;
    text-align: left;
}

.about-caption {
    display: flex;
    justify-content: center;
    gap: 42px;
    width: 100%;
}

.linie {
    background-image: url(img/linie.png);
    background-repeat: no-repeat;
    width: 2px;
    height: 150px;
}

.pp {
    width: 440px;
    height: 104px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ABAEB7;
}

.procente {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.unu {
    width: 192px;
    height: 120px;
    top: 2212px;
    font-family: Regular;
    font-size: 128px;
    font-weight: 400;
    line-height: 164.48px;

}

span {
    font-family: Regular;
    font-size: 64px;
    font-weight: 400;
    line-height: 82.24px;
    text-align: left;

}

.doi {
    width: 78px;
    height: 60px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-align: left;
    color: white;
}

#ph {
    width: 408px;
    height: 175px;
    margin-top: 30px;
    /* display: flex; */
}


/* --- Availability section --- */
.avail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 80px;
}

.ava-top,
.ava-content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.ava-top {
    height: 200px;
}

.ava-head {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.ava-subheader {
    color: #FFC978;
    font-family: Medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.96px;
    letter-spacing: 0.3em;
}

.ava-header {
    font-family: Regular;
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: normal;
}

.ava-p {
    display: flex;
    gap: 30px;
    height: 100%;
    align-items: center;
}

.ava-pp {
    margin: 0;
    padding: 0;
    height: fit-content;
}

.ava-linie {
    padding: 0;
    margin: 0;
}

.ava-content {
    gap: 80px;
}

.ava-table {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
}

.ava-table-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #ABAEB7;
    padding-bottom: 1.5em;
}

.ava-table-item:last-child {
    border-bottom: none;
}

.ava-table-item span {
    color: #ABAEB7;
    font-size: 16px;
    line-height: 18.75px;
    display: inline-block;
    width: 15%;
}

.ava-table-item span:first-child {
    width: 25%;
}

.ava-table-item span:last-child {
    text-align: right;
}

.ava-table-head span {
    color: #FFC978;
}

.ggg {
    width: 100%;
    height: 249px;
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.rmc {
    display: flex;
    gap: 93px;
    flex-direction: column;
}

.rmc2 {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    text-transform: uppercase;
}

.rmc3 {
    width: 271px;
    height: 246px;
    display: flex;
    flex-direction: column;
    
}

.ftt {
    width: 138.69px;
    /* height: 50px; */
    font-family: Medium;
}

.ftr {
    width: 350px;
    /* height: 104px; */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #D7E0E1;
}

.frtt {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: unset;
}

a {
    color: #ABAEB7;
    font-size: 16px;
}

/* .llinnie {
    width: 1px;
    height: 244px;
    display: flex;
} */

.ftt2,
.ftt3 {
    font-size: 48px;
    width: 138.69px;
    /* height: 50px; */
    line-height: unset;
}

.ftr2,
.ftr3 {
    font-size: 18px;
}